AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*)\.[\d]+\.(css|js)$ $1.$2 [L]
	RewriteRule (^.+)_version_.+\.(js|css)$ $1.$2 [L,E=VERSIONED_FILE:1]
	Header add "Expires" "Mon, 28 Jul 2017 23:30:00 GMT" env=VERSIONED_FILE
	Header add "Cache-Control" "max-age=315360000" env=VERSIONED_FILE

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]

</IfModule>

